.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Courier New";
    -fx-background: rgb(122, 122, 122);
}

.chart {
    -fx-padding: 10px;
}

.chart-content {
    -fx-padding: 30px;
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #f0e68c; }